@charset "UTF-8"

*
	outline: none

// Описание базовых стилей для элементов
// ===============================================
body
	color: $color
	font: 400 16px/130% $font




a, input, button, textarea, *:before, *:after, *:hover, *:active, *:focus
	outline: none !important

a
	color: $link
	text-decoration: none
	&:hover, &:active, &:focus
		text-decoration: none
		color: $link



button
	display: block
	padding: 0
	background: none
	border: none
	cursor: pointer

svg
	overflow: visible



.disable-hover, .disable-hover *
	pointer-events: none !important


.hidden
	display: none


// Запрет на "hover" при скроллинге страницы
// ===============================================
.disable-hover, .disable-hover *
	pointer-events: none !important



// Для блока "Контент"
// ======================================
.middle
	margin: 0 auto
	position: relative


.container
	position: relative



.content
	position: relative
	z-index: 10

img
	max-width: 100%
	vertical-align: bottom

.full-wrapper
	+full-wrapper


// ===================
i, em
	font-weight: italic

b, strong
	font-weight: bold

p, li
	a
		transition: all .3s ease

div
	+clearfix
	img

		&[style='float: left;'], &[align="left"]
			margin: 0 18px 18px 0



		&[style='float: right;'], &[align="right"]
			margin: 0 auto 18px 18px

p
	margin: 0 0 15px


	img
		display: block
		margin: 0 0 20px
		vertical-align: bottom
		max-width: 100%

		&[style='float: left;'], &[align="left"]
			margin: 0 18px 18px 0



		&[style='float: right;'], &[align="right"]
			margin: 0 0 18px 18px


hr
	margin: 0 0 25px
	height: 1px
	background: #c9d3d8
	border: none




button
	display: block
	padding: 0
	background: none
	border: none
	cursor: pointer


ul
	padding: 0 0 0 20px
	text-align: left
	list-style: none
	overflow: hidden

	li
		position: relative
		margin: 0 0 10px 0
		font: 400 18px/130% $font
		color: #000
		&:after
			content: ''
			position: absolute
			top: 9px
			left: -11px
			width: 10px
			height: 10px
			background-color: #000
			transform-origin: 0 100%
			transform: rotate(-45deg)


// Заголовки
// =======================

h1
	color: $color
	font: 400 72px/120% $font
	margin: 0 0 15px 0



h2
	color: $color
	font: 400 48px/110% $font
	margin: 0 0 60px 0
	text-transform: uppercase
	text-align: center
	z-index: 10
	position: relative



h3
	color: $link
	font: 400 30px/100% $font
	margin: 0 0 10px 0



.button
	display: block !important
	width: 410px
	font: 400 20px/80px $font
	color: $color
	border: 0 none
	border-radius: 5px
	background-color: $link
	height: 80px
	cursor: pointer
	margin: 0 auto
	text-decoration: none
	transition: all .3s ease
	box-shadow: 0 none
	&:hover
		text-decoration: none
		opacity: 0.8



.white
	color: #fff



// Анимация
// ============


@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1


// Преимущества
// ========================

.advantages-section
	position: relative
	background: url('../../../build/pic/advantages-bg.jpg') no-repeat
	background-position: 50% 100%
	padding: 60px 0
	z-index: 100

	.advantages
		position: relative
		display: block
		width: 100%
		&__wrapper
			width: 100%
			position: relative
			display: block
			height: 100%
			margin: 0 0 90px 0
			font-size: 0
			line-height: 0

		&__item
			position: relative
			display: inline-block
			width: 50%
			height: 270px
			overflow: hidden


	.advantages-title
		color: $white
		font: 400 24px/130% $font


	figure
		position: relative
		overflow: hidden
		width: 100%
		text-align: center
		cursor: pointer
		background: $link


	figure img
		position: relative
		display: block
		min-height: 100%
		max-width: 100%


	figure figcaption
		padding: 2em
		color: #fff
		text-transform: uppercase
		font-size: 1.25em
		backface-visibility: hidden
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%


	figure.effect-sadie figcaption
		&:before
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: #000
			content: ''
			opacity: 0
			transition: opacity 0.4s, color 0.4s, transform 0.3s

	figure.effect-sadie h3
		position: absolute
		top: 50%
		left: 0
		width: 100%
		transition: transform 0.5s, color 0.5s
		transform: translate3d(0,-50%,0)


	figure.effect-sadie figcaption::before,
	figure.effect-sadie p
		transition: opacity 0.5s, transform 0.5s

	figure.effect-sadie img
		backface-visibility: hidden
		transition: transform 0.3s


	figure.effect-sadie p
		position: absolute
		top: 40%
		left: 0
		padding: 2em
		width: 100%
		opacity: 0
		transform: translate3d(0,10px,0)
		color: $white
		font: 400 14px/130% $font


	figure.effect-sadie:hover h3
		transform: translate3d(0,-50%,0) translate3d(0,-30px,0)


	figure.effect-sadie:hover figcaption::before,
	figure.effect-sadie:hover p
		opacity: 1

	figure.effect-sadie:hover figcaption::before
		opacity: 0.75
		transition: opacity 0.4s, transform 0.4s
		transform: translate3d(0,-5px,0)

	figure.effect-sadie:hover img
		transform: translate3d(0,-8px,0)
		transition: transform 0.4s

// Процессы
// ==============

.process-section
	position: relative
	z-index: 100

	.process
		position: relative
		max-height: 830px
		padding: 100px 0
		background: #000

	.process-slider
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		&__item
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			opacity: 0
			transition: opacity 0.5s ease
			background-size: 100% auto
			&.active
				opacity: 1

			&--1
				background: url('../../../build/pic/tabs-4.jpg') no-repeat 50% 50%
				background-size: 100% auto
				+max-width(1200px)
					background-size: auto 100%

			&--2
				background: url('../../../build/pic/tabs-1.jpg') no-repeat 50% 50%
				background-size: 100% auto
				+max-width(1200px)
					background-size: auto 100%

			&--3
				background: url('../../../build/pic/tabs-3.jpg') no-repeat 50% 50%
				background-size: 100% auto
				+max-width(1200px)
					background-size: auto 100%

			&--4
				background: url('../../../build/pic/tabs-2.jpg') no-repeat 50% 50%
				background-size: 100% auto
				+max-width(1200px)
					background-size: auto 100%

	.process-icon-block

		&__wrapper
			position: relative
			display: flex
			align-items: center
			flex-wrap: nowrap
			align-content: stretch
			width: 100%
			height: 100%

		&__item
			position: relative
			display: inline-block
			width: 20%
			height: 260px
			border-top: 1px solid #666666
			border-bottom: 1px solid #666666
			transition: all .3s ease, border-bottom 0.3s, opacity 0.3s

			&:after
				position: absolute
				content: ''
				max-height: 100%
				height: 260px
				width: 1px
				right: 0
				top: 0
				background: #666666
			&:first-child
				&:before
					position: absolute
					content: ''
					max-height: 100%
					height: 260px
					width: 1px
					left: 0
					top: 0
					background: #666666
			&:hover
				border-bottom: 5px solid $link


		&__table
			position: relative
			width: 100%
			height: 100%


		&__cell
			position: relative
			vertical-align: middle
			text-align: center
			padding: 65px 0 20px 0


		&__inline
			position: relative
			display: block

		&__text
			color: $white
			font: 400 14px/120% $font
			transition: all .3s ease

		&__icon
			position: relative
			display: inline-block
			margin: 0 0 20px 0
			height: 69px


	.process-icon-block--big
		.process-icon-block
			&__item
				width: 16.666666%

.icon-registr
	width: 65px
	enable-background: new 0 0 33.3 21.9
	.st0
		fill: #F7D443


.icon-lot
	enable-background: new 0 0 28.9 28.9
	width: 54px
	.st0
		fill: #F7D443



.icon-parh
	enable-background: new 0 0 41.1 24.6
	width: 54px
	.st0
		fill: #F7D443


.icon-of
	enable-background: new 0 0 25.2 28.9
	width: 43px
	.st0
		fill: #F7D443


.icon-many
	width: 41px
	enable-background: new 0 0 21.9 36.6
	.st0
		fill: #F7D443

.icon-ogr
	width: 63px
	enable-background: new 0 0 35.1 28.9
	.st0
		fill: #F7D443

.icon-mas-par
	width: 69px
	enable-background: new 0 0 38.9 23.5
	.st0
		fill: #F7D443

.icon-doctav
	width: 69px
	enable-background: new 0 0 34.8 21.2
	.st0
		fill: #F7D443




// custom - Табы
// ================
.custom-tabs
	margin: 0 auto 50px auto
	position: relative
	text-align: center
	&__titles
		+clearfix
		background-color: transparent
		position: relative
		margin: 0 0 110px 0


	&__titles-item
		position: relative
		background-color: transparent
		vertical-align: middle
		display: inline-block
		text-align: center
		cursor: pointer
		padding: 0 2%
		transition: all .3s ease
		color: $white
		&:hover
			span
				border-bottom: 4px solid transparent

		&.active
			span
				color: $white
				border-bottom: 4px solid $link

		span
			display: inline-block
			vertical-align: middle
			font: 400 24px/110% $font
			color: $white
			transition: all .3s ease
			border-bottom: 4px solid transparent
			padding: 0 0 10px 0


	&__contents
		position: relative
		z-index: 10
		padding: 35px 0
		+full-wrapper


	&__contents-item
		display: none
		opacity: 0
		transition: all .3s ease

		&.active
			display: block
			opacity: 1
			animation-name: fadeIn
			animation-duration: 0.5s
			animation-fill-mode: both


//  "Для кого сервис"
// ====================

.service-section
	position: relative
	min-height: 800px
	padding: 80px 0 0
	background: url('../../../build/pic/service-bg.jpg') no-repeat 50% 100%
	z-index: 100


	.service-slider
		position: relative
		background-color: transparent
		margin: 0 0 60px 0


		&__item
			position: relative
			display: inline-block
			width: 1142px
			height: 616px
			&--1
				background: url('../../../build/pic/service-slider-1.jpg') no-repeat 50% 50%
			&--2
				background: url('../../../build/pic/service-slider-2.jpg') no-repeat 50% 50%
			&--3
				background: url('../../../build/pic/service-slider-3.jpg') no-repeat 50% 50%
			&--4
				background: url('../../../build/pic/service-slider-4.jpg') no-repeat 50% 50%
			&--5
				background: url('../../../build/pic/service-slider-5.jpg') no-repeat 50% 50%
			&--6
				background: url('../../../build/pic/service-slider-6.jpg') no-repeat 50% 50%
			&--7
				background: url('../../../build/pic/service-slider-7.jpg') no-repeat 50% 50%
			&--8
				background: url('../../../build/pic/service-slider-8.jpg') no-repeat 50% 50%

		&__table
			position: relative
			display: table
			width: 100%
			height: 100%

		&__cell
			display: table-cell
			position: relative
			vertical-align: middle

		&__bot
			position: absolute
			left: 0
			right: 0
			bottom: 0
			padding: 40px 0
			background: $link
			text-align: center
			height: 220px



		&__title
			font: 400 24px/110% $font
			margin: 0 0 20px 0
			padding: 0 100px
			display: inline-block
			width: 100%



		&__text
			font: 400 16px/130% $font
			padding: 0 150px
			display: inline-block
			width: 100%




		.slick-list
			position: relative
			overflow: hidden !important
			margin: 0 50px

		.slick-arrow
			position: absolute
			height: 100%
			background-color: transparent
			text-indent: -9999px
			transition: all .3s ease
			padding: 0
			height: 100%
			width: 47px
			top: 0
			z-index: 10
			&.slick-next
				right: -10px
				&:before,
				&:after
					content: ''
					position: absolute
					right: 0
					top: 45%
					transition: all .3s ease
				&:before
					+sprite($next)

				&:after
					+sprite($next-hover)
					opacity: 0

				&:hover:after
					opacity: 1


			&.slick-prev
				left: -10px
				&:before,
				&:after
					content: ''
					position: absolute
					left: 0
					top: 45%
					transition: all .3s ease
				&:before
					+sprite($prev)

				&:after
					+sprite($prev-hover)
					opacity: 0

				&:hover:after
					opacity: 1


// Карта
// =========

.contacts-section
	position: relative
	padding: 80px 0 0 0
	z-index: 100


	.map-yandex
		width: 100%
		height: 533px
		background: url('../../../build/img/preloader.gif') no-repeat 50% 50% $white


//
// ================
.space-section
	position: relative
	background: #303030
	padding: 40px 0 50px 0
	z-index: 1000


.space
	position: relative
	text-align: center
	&__text
		color: $white
		font: 400 24px/130% $font
		margin: 0 0 20px 0

		&--big
			color: $white
			text-transform: uppercase
			font: 400 24px/130% $font