@charset "UTF-8"


$font: 'Open Sans', sans-serif


$color: #333333 // base
$link: #f7d443 // a:normal, button
$white: #ffffff




@mixin clearfix
	&:after
		content: ""
		display: table
		clear: both


@mixin grad ($color1,$color2)
	background: $color2
	background: linear-gradient(top, $color1,$color2)


@mixin rotate($rotate)
	transform: rotate($rotate+deg)



$max-width-px: 1180px
$max-width: 1180px
$min-width-px: 960px
$min-width: 960



@mixin width-wrap()
	max-width: $max-width-px
	min-width: $min-width-px


@mixin full-wrapper()
	margin: 0 auto
	position: relative
	padding-left: 20px
	padding-right: 20px
	max-width: $max-width-px
	min-width: $min-width-px
	width: 100%
	height: 100%




@mixin width-wrap()
	max-width: $max-width-px
	min-width: $min-width-px

@mixin full-width-wrap()
	max-width: $max-width-px
	min-width: $min-width-px


@mixin max-width($width)
	@media only screen and (max-width: $width)
		@content

@mixin min-width($width)
	@media only screen and (min-width: $width)
		@content


@mixin max-height($height)
	@media only screen and (max-height: $height)
		@content

@mixin min-height($height)
	@media only screen and (min-height: $height)
		@content



