/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$lot-name: 'lot'
$lot-x: 141px
$lot-y: 0px
$lot-offset-x: -141px
$lot-offset-y: 0px
$lot-width: 54px
$lot-height: 54px
$lot-total-width: 238px
$lot-total-height: 173px
$lot-image: '/./build/img/sprite/sprite.png'
$lot: (141px, 0px, -141px, 0px, 54px, 54px, 238px, 173px, '/./build/img/sprite/sprite.png', 'lot', )
$many-name: 'many'
$many-x: 141px
$many-y: 54px
$many-offset-x: -141px
$many-offset-y: -54px
$many-width: 41px
$many-height: 69px
$many-total-width: 238px
$many-total-height: 173px
$many-image: '/./build/img/sprite/sprite.png'
$many: (141px, 54px, -141px, -54px, 41px, 69px, 238px, 173px, '/./build/img/sprite/sprite.png', 'many', )
$mas-name: 'mas'
$mas-x: 65px
$mas-y: 130px
$mas-offset-x: -65px
$mas-offset-y: -130px
$mas-width: 69px
$mas-height: 39px
$mas-total-width: 238px
$mas-total-height: 173px
$mas-image: '/./build/img/sprite/sprite.png'
$mas: (65px, 130px, -65px, -130px, 69px, 39px, 238px, 173px, '/./build/img/sprite/sprite.png', 'mas', )
$next-hover-name: 'next-hover'
$next-hover-x: 0px
$next-hover-y: 0px
$next-hover-offset-x: 0px
$next-hover-offset-y: 0px
$next-hover-width: 47px
$next-hover-height: 65px
$next-hover-total-width: 238px
$next-hover-total-height: 173px
$next-hover-image: '/./build/img/sprite/sprite.png'
$next-hover: (0px, 0px, 0px, 0px, 47px, 65px, 238px, 173px, '/./build/img/sprite/sprite.png', 'next-hover', )
$next-name: 'next'
$next-x: 47px
$next-y: 0px
$next-offset-x: -47px
$next-offset-y: 0px
$next-width: 47px
$next-height: 65px
$next-total-width: 238px
$next-total-height: 173px
$next-image: '/./build/img/sprite/sprite.png'
$next: (47px, 0px, -47px, 0px, 47px, 65px, 238px, 173px, '/./build/img/sprite/sprite.png', 'next', )
$of-name: 'of'
$of-x: 195px
$of-y: 0px
$of-offset-x: -195px
$of-offset-y: 0px
$of-width: 43px
$of-height: 54px
$of-total-width: 238px
$of-total-height: 173px
$of-image: '/./build/img/sprite/sprite.png'
$of: (195px, 0px, -195px, 0px, 43px, 54px, 238px, 173px, '/./build/img/sprite/sprite.png', 'of', )
$ogr-name: 'ogr'
$ogr-x: 47px
$ogr-y: 65px
$ogr-offset-x: -47px
$ogr-offset-y: -65px
$ogr-width: 63px
$ogr-height: 48px
$ogr-total-width: 238px
$ogr-total-height: 173px
$ogr-image: '/./build/img/sprite/sprite.png'
$ogr: (47px, 65px, -47px, -65px, 63px, 48px, 238px, 173px, '/./build/img/sprite/sprite.png', 'ogr', )
$prev-hover-name: 'prev-hover'
$prev-hover-x: 94px
$prev-hover-y: 0px
$prev-hover-offset-x: -94px
$prev-hover-offset-y: 0px
$prev-hover-width: 47px
$prev-hover-height: 65px
$prev-hover-total-width: 238px
$prev-hover-total-height: 173px
$prev-hover-image: '/./build/img/sprite/sprite.png'
$prev-hover: (94px, 0px, -94px, 0px, 47px, 65px, 238px, 173px, '/./build/img/sprite/sprite.png', 'prev-hover', )
$prev-name: 'prev'
$prev-x: 0px
$prev-y: 65px
$prev-offset-x: 0px
$prev-offset-y: -65px
$prev-width: 47px
$prev-height: 65px
$prev-total-width: 238px
$prev-total-height: 173px
$prev-image: '/./build/img/sprite/sprite.png'
$prev: (0px, 65px, 0px, -65px, 47px, 65px, 238px, 173px, '/./build/img/sprite/sprite.png', 'prev', )
$registr-name: 'registr'
$registr-x: 0px
$registr-y: 130px
$registr-offset-x: 0px
$registr-offset-y: -130px
$registr-width: 65px
$registr-height: 43px
$registr-total-width: 238px
$registr-total-height: 173px
$registr-image: '/./build/img/sprite/sprite.png'
$registr: (0px, 130px, 0px, -130px, 65px, 43px, 238px, 173px, '/./build/img/sprite/sprite.png', 'registr', )
$spritesheet-width: 238px
$spritesheet-height: 173px
$spritesheet-image: '/./build/img/sprite/sprite.png'
$spritesheet-sprites: ($lot, $many, $mas, $next-hover, $next, $of, $ogr, $prev-hover, $prev, $registr, )
$spritesheet: (238px, 173px, '/./build/img/sprite/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
