@charset "UTF-8"


// FOOTER
// ===========


.footer
	position: relative
	height: 95px
	background-color: #333333
	&__wrapper
		+full-wrapper
		display: flex
		align-items: center
		flex-wrap: nowrap
		flex-direction: row
		justify-content: space-between
		height: 100%
	&__item
		display: inline-block
		position: relative


.footer-cop
	position: relative
	display: block
	font: 400 18px/130% $font
	color: $white





