@charset "UTF-8"


// HEADER
// ===============

.header
	position: fixed
	top: 0
	left: 0
	right: 0
	width: 100%
	z-index: 1000
	transition: position .3s ease
	transition: all .3s ease
	&__wrapper
		+full-wrapper
		padding-top: 50px
		position: relative
		display: table






// Левый блок
// =================

.logo
	display: table-cell
	transition: all .3s ease
	position: relative
	width: 30%

	&:hover
		opacity: 0.65



.logo-svg
	enable-background: new 0 0 109.7 128.8
	width: 105px

	.st0
		fill: #6BB535
	.st1
		fill: #F18800
	.st2
		fill: #A45504


// FIX
// ============

.header.fix
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 10000
	height: 42px
	background: #798189


	.header
		&__wrapper
			padding-top: 0

	.header-menu
		position: relative
		width: 100%
		top: inherit



	.top-menu

		&__none
			display: block
			min-width: 230px

	.logo-fix
		display: inline-block
		transition: all .3s ease




	.logo
		display: none

// MENU
// ========

.header-menu
	height: 42px
	transition: right 0.3s ease
	display: table-cell
	vertical-align: middle
	width: 70%
	transition: all .3s ease


.top-menu
	height: 42px
	position: relative

	&__wrapper
		+clearfix
		font-size: 0
		line-height: 0
		width: 100%
		display: flex
		height: 100%
		align-items: center
		flex-wrap: nowrap
		flex-direction: row
		justify-content: space-around


	&__item
		position: relative
		text-align: center
		display: inline-block
		height: 100%
		transition: all .3s ease
		width: 25%
		line-height: 0
		&:after
			content: ''
			position: absolute
			width: 1px
			height: 42px
			background-color: #fff
			opacity: 0.7
			right: 0
			top: 0
			line-height: 0
		&:nth-child(2)
			&:before
				content: ''
				position: absolute
				width: 1px
				height: 42px
				background-color: #fff
				opacity: 0.7
				left: 0
				top: 0
				line-height: 0

	&__none
		display: none



	&__item.active &__link
		cursor: default
		color: $color
		background-color: $link


	&__link
		font: 400 14px/42px $font
		color: $white
		text-decoration: none
		transition: all .3s ease
		display: block
		white-space: nowrap
		text-transform: uppercase
		position: relative
		z-index: 10
		&:hover,
		&:focus,
		&:active
			color: $color
			background-color: $link