@charset "UTF-8"

.init
	height: 100%
	height: 2490px
	position: relative
	&.height-auto
		height: auto !important
		.init-bottom
			position: absolute !important
			bottom: -10px !important



.init-bottom
	position: fixed
	background: url('../../../../build/img/plashka.png') no-repeat 50% 50%
	bottom: 0
	width: 100%
	height: 25px
	z-index: 100

.init-slide
	position: fixed
	width: 100%
	margin: 0
	background-size: auto 100%
	+min-width(1500px)
		background-size: 100% auto

	&--1
		background: url('../../../../build/pic/bg-window-1.jpg') no-repeat 50% 50%
		top: 0
		z-index: 3
	&--2
		z-index: 2

	&--3
		z-index: 1

	&.not-fixed
		position: relative !important
		top: 0 !important
		height: 750px !important

		.init-wrap
			height: 750px !important



.white-label
	display: table-row
	height: 50%
	max-height: 450px
	width: 100%
	background: url('../../../../build/pic/zerna.jpg') no-repeat 50% 50% #fff

	&--2
		background: url('../../../../build/pic/zerna-2.jpg') no-repeat 50% 50% #fff

	&__phone
		width: 300px
		display: table-cell
		position: relative
		bottom: 0
		img
			width: 240px
			position: absolute
			bottom: 54px
			right: 0

	&__table
		display: table
		position: relative
		height: 100%
		width: 100%
		padding: 0 0 50px 0

	&__left
		display: table-cell
		vertical-align: middle
		height: 100%
		width: 55%
		padding: 0 10px 0 0

	&__icon
		display: table-cell
		vertical-align: middle
		width: 200px !important
		position: relative
		text-align: right

	&__icon-wrap
		display: inline-block
		position: relative
		padding: 0 0 25px 0

		.logo-t--posr
			position: relative
			width: 110px
			top: inherit
			left: inherit
		.logo-f--posr
			position: relative
			width: 120px
			top: inherit
			left: inherit


.image-wrap
	display: table-row
	height: 50%
	width: 100%
	background: url('../../../../build/pic/bg-window-2.jpg') no-repeat 50% 50%
	&--3
		background: url('../../../../build/pic/bg-window-3.jpg') no-repeat 50% 50%
	+min-width(1500px)
		background-size: 100% auto


.init-title
	text-align: left
	color: #000
	margin: 0 0 20px 0
	font-size: calc( (100vh - 480px)/(1280 - 480) * (24 - 20) + 20px)

	&--big
		font-size: calc( (100vh - 480px)/(1280 - 480) * (72 - 30) + 30px)
		font-weight: bold
		text-align: left
		color: #000
		margin: 0 0 40px 0



.init-wrap
	position: relative
	min-height: 750px
	height: 100%
	top: 0
	width: 100%
	+clearfix
	&__block
		+full-wrapper
		height: 100%
	&__block-wrap
		position: relative
		height: 100%


	&__table
		display: table
		width: 100%
		height: 100%




.init-left
	position: relative
	display: table-cell
	width: 50%
	vertical-align: middle
	&__wrapper
		position: relative
		height: 420px
		display: inline-block

	&__wrapper-inner
		position: relative
		bottom: 0
		padding: 70px 0 0 0



.init-right
	position: relative
	display: table-cell
	width: 50%
	text-align: center
	vertical-align: bottom
	&__wrapper
		position: relative
		height: 420px
		display: inline-block

	&__wrapper-inner
		position: relative
		bottom: 0





.init-logo
	position: relative
	display: inline-block
	font-size: 0
	line-height: 0

	&__item
		position: relative
		display: inline-block
		border-radius: 160px
		width: 160px
		height: 160px
		background: $white
		margin: 0 20px 0 0




.logo-t
	enable-background: new 0 0 110.4 127.4
	width: 80px
	position: absolute
	left: 38px
	top: 30px

	.st0
		fill: #3F7560
	.st1
		fill: #F4A11C
	.st2
		fill: #140A01


.logo-f
	enable-background: new 0 0 138.3 128.4
	width: 100px
	position: absolute
	left: 30px
	top: 30px
	.st0
		fill: #664D7C
	.st1
		fill: #DB715F
	.st2
		fill: #140A01